@font-face {
  font-family: "Clash Display Variable";
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot");
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.svg#Clash Display Variable")
      format("svg");
}

:root {
  --secondary-color: #7620c2;
  --primary-color: #41ecff;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
body {
  background-color: rgb(4, 4, 33);
  font-family: "Clash Display Variable";
}

.container {
  max-width: 1950px;
}

.secondary-btn {
  padding: 16px 30px;
  background-color: var(--secondary-color);
}
.secondary-btn:hover {
  background: #250a53;
  color: #ffffff;
}
/* Navbar Section */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
.custom-navbar-bg {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
}


.custom-navbar-rounded {
  border-radius: 50px;
  margin: 10px;
  padding-right: 0;
}
.navbar-container {
  max-width: 1620px !important;
}

.navbar-nav {
  align-items: center;
}

.nav-item {
  margin-right: 45px;
}
.nav-item a {
  color: white;
}

.offcanvas {
  flex-direction: row !important;
}
.navbar-toggler {
  background: #f0f0f0;
}

.nav-logo {
  width: 200px;
  padding: 5px;
  top: -75px;
}

.nav-logo > a {
  height: 100%;
  width: 100%;
}

.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-item :hover {
  text-decoration: underline;
  color: #7620c2;
}
.navbtn {
  font-size: 20px;
}
/* Banner Section */
.banner-sec {
  background: url("..//assets/aboutbanner.png") center/cover no-repeat;
  background-color: rgb(4, 4, 33);
  position: relative;
  padding: 110px 10px 140px;
  color: white;
}

.banner-content > p {
  max-width: 600px;
  margin-bottom: 31px;
  font-size: 19px;
  color: #ffffff;
}
.banner-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.banner-btn > a {
  padding: 13px 34px;
  color: #000000;
  border-radius: 7px;
  font-size: 19px;
  border: none;
}
.banner-content h1 {
  max-width: 480px;
  margin-bottom: 31px;
  margin-top: 140px;
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #2c00cc, #41ecff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn {
  border: 1px solid white;
  color: white;
  padding: 16px 30px;
}
/* Pricing Section */
.pricing-card {
  border: 1px solid white;
  border-radius: 1.5rem;
  padding: 2.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pricing-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}
.features-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;
}

.features-list li {
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 0.75rem;
  position: relative;
  padding-left: 1.5rem;
  font-size: 1rem;
}

.features-list li::before {
  content: ".";
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  position: absolute;
  left: 0;
}

.main-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.price-text {
  font-size: 2rem;
  font-weight: 500;
}
.lead {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
.price {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.card-body {
  padding: 12px !important;
}
/* Working Section */
.work-section {
  background: url("..//assets/Group\ 149.png") center/cover no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  z-index: 1;
}

.work-content {
  max-width: 800px;
  z-index: 2;
}

.work-subtitle-top {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.work-title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.work-text {
  font-size: 1.15rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2.5rem;
}

.btn-gradient {
  background: linear-gradient(90deg, #9c33ff, #bd85ff);
  color: var(--bg-dark);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(189, 133, 255, 0.4);
}

.btn-outline-dark {
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: none;
}

.play-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Testimonial Section */

.testimonial-section {
  padding: 80px 0;
  display: flex;
  align-items: center;
}

.carousel-indicators {
  position: relative;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: 2rem;
  list-style: none;
}
.dot-abstract {
  width: 350px;
  height: 350px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.dot-abstract {
  width: 450px;
  height: 450px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  z-index: 0;
}
.carousel-indicators button {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border-radius: 50%;
  border: 0;
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-indicators .active {
  background-color: purple;
  transform: scale(1.1);
}

.testimonial-graphic {
  position: relative;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.main-circle {
  width: 250px;
  height: 250px;
  background: #841edb;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px rgba(123, 40, 248, 0.5);
  font-size: 4rem;
  font-weight: 700;
  z-index: 2;
}

.dot-abstract {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}
.dot-blue {
  width: 60px;
  height: 60px;
  background: #5ddcff;
  top: 0%;
  right: 25%;
}
.dot-pink {
  width: 60px;
  height: 60px;
  background: #ff78d0;
  bottom: 15%;
  left: 15%;
}
.dot-white {
  width: 60px;
  height: 60px;
  background: #ffffff;
  bottom: -3%;
  right: 26%;
}
.heading2 {
  color: white;
}
.avatar {
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  z-index: 3;
}

.avatar-top-left {
  top: 0%;
  left: 14%;
}
.avatar-middle-right {
  top: 45%;
  right: 5%;
}
.avatar-bottom-left {
  bottom: -13%;
  left: 25%;
}
/* Robo Section */
.ai-image-panel {
  height: 930px;
  max-width: 595px;
}

.display-text {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 80px;
}
/* Footer Section */
.footer-section {
  padding: 6rem 0 2rem;
  position: relative;
  background: linear-gradient(90deg, #250a53, #cfcfcf);
}

.footer-section h5 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.text-muted {
  color: #ffffff !important;
}
.text-muted img {
  margin-right: 5px;
}

.footer-section p,
.footer-section a,
.footer-section li {
  font-size: 0.95rem;
  text-decoration: none;
}

.footer-section a:hover {
  color: rgb(141, 94, 141);
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 0.8rem;
}
.contact-info .d-flex {
  align-items: flex-start;
  margin-bottom: 1rem;
}
.contact-info .icon {
  color: white;
  font-size: 1.1rem;
  margin-right: 0.8rem;
  line-height: 1.6;
}
.newsletter-panel {
  padding: 10px;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-form {
  display: flex;
  align-items: center;
  /* gap: 5px; */
  margin-bottom: 25px;
}
.footer-form > input {
  outline: none;
  padding: 12px 14px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50px;
  color: #ffffff;
  width: 293px;
}
.footer-form > button > img {
  border-radius: 50%;
  padding: -1px 0px;
}
button > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}

.form-check-input {
  border-color: #ffffff;
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.25em;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-purple);
  border-color: var(--primary-purple);
}

.form-check-label {
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}

.footer-divider {
  border: 1px solid white;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: var(--secondary-purple);
  transform: translateY(-5px);
}

.message-box {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.message-box.show {
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .custom-navbar-rounded {
    margin: 5px;
  }
}
@media screen and (max-width: 992px) {
  .offcanvas {
    flex-direction: column !important;
  }
  .navbar-nav,
  .nav-item {
    margin: 0 !important;
  }

  .navbar-nav,
  .navbtn {
    text-align: center;
  }
  .nav-item {
    margin-bottom: 15px !important;
  }
  .banner-btn {
    flex-wrap: wrap;
  }
  .image-panel {
    height: 350px;
    margin-bottom: 2rem;
  }
  /* Pricing Section */
  .pricing-card {
    margin-bottom: 1.5rem;
  }
  /* Robo Section */
  .display-text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  /* Working Section */
  .work-title {
    font-size: 2.5rem;
  }
  .work-section {
    height: auto;
    min-height: 100vh;
  }
}
@media screen and (max-width: 576px) {
  .main-heading {
    font-size: 32px;
  }
  /* Robo Section */
  .ai-image-panel {
    display: none;
  }
  .display-text {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 425px) {
  /* Working Section */
  .work-title {
    font-size: 1rem;
    font-weight: 700;
  }
  /* Robo Section */
  .heading {
    font-size: 2rem;
    font-weight: 500;
  }
}
@media screen and (max-width: 320px) {
  .pricing-card {
    padding: 1.5rem;
  }
}
