@font-face {
  font-family: "Clash Display Variable";
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot");
  src: url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/2fcd723a1a012506da3928146b19364d.svg#Clash Display Variable")
      format("svg");
}

:root {
  --secondary-color: #7620c2;
  --primary-color: #41ecff;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
}
body {
  background-color: rgb(4, 4, 33);
  font-family: "Clash Display Variable";
}

.container {
  max-width: 1950px;
}

.secondary-btn {
  padding: 16px 30px;
  background-color: var(--secondary-color);
}
.secondary-btn:hover {
  background: #250a53;
  color: #ffffff;
}
/* Navbar Section */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.custom-navbar-bg {
  border: 1px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.custom-navbar-rounded {
  border-radius: 50px;
  margin: 10px;
  padding-right: 0;
}
.navbar-container {
  max-width: 1620px !important;
}

.navbar-nav {
  align-items: center;
  /* gap: 50px; */
}

.nav-item {
  margin-right: 45px;
}
.nav-item a {
  color: white;
}

.offcanvas {
  flex-direction: row !important;
}
.navbar-toggler {
  background: #f0f0f0;
}

.nav-logo {
  width: 200px;
  padding: 5px;
  top: -75px;
}

.nav-logo > a {
  height: 100%;
  width: 100%;
}

.nav-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav-item :hover {
  text-decoration: underline;
  color: #7620c2;
}
.navbtn {
  font-size: 20px;
}
/* Banner Section */
.banner-sec {
  background: url("..//assets/servicebg.png") center/cover no-repeat;
  background-color: rgb(4, 4, 33);
  position: relative;
  padding: 110px 10px 140px;
  color: white;
}
.banner-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.banner-content > p {
  max-width: 600px;
  font-size: 19px;
  color: #ffffff;
  margin: auto;
}
.banner-content h1 {
  max-width: 480px;
  margin-bottom: 31px;
  margin-top: 140px;
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(90deg, #2c00cc, #41ecff, #ffffff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
}

.banner-wrp {
  border-radius: 12px;
  max-width: 1024px;
}

.banner-wrp img {
  width: 100%;
  border-radius: 12px;
}

.banner-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 155px;
  height: 55px;
  cursor: pointer;
}
.btn {
  border: 1px solid white;
  color: white;
  padding: 16px 30px;
}

/* Service Section */
.section-label {
  color: #ccc;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.section-label::before {
  content: "\2022";
  color: #9c6bff;
  margin-right: 8px;
}
.section-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  line-height: 1.4;
  color: #fff;
  margin-bottom: 2rem;
}
/* Card section */
.custom-card {
  background-color: var(--card-dark);
  border-radius: 2rem;
  padding: 2.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 80px rgba(189, 133, 255, 0.1);
}

.card-icon {
  margin-bottom: 90px;
  text-align: left;
  height: 50px;
  width: 50px;
}

.card {
  display: flex;
}
.card-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}

.card-description {
  font-size: 1rem;
  margin-bottom: 2rem;
  color: white;
  flex-grow: 1;
}

.arrow-button {
  width: 80px;
  height: 40px;
  border-radius: 50%;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
  border: none;
  margin-left: 10px;
  margin-top: 85px;
}

.arrow-button:hover {
  background-color: #d6a8ff;
}
/* Working Section */
.work-section {
  background: url("..//assets/Group\ 149.png") center/cover no-repeat;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 1rem;
  z-index: 1;
  margin-bottom: 30px;
}

.work-content {
  max-width: 800px;
  z-index: 2;
}

.work-subtitle-top {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.work-title {
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.work-text {
  font-size: 1.15rem;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 2.5rem;
}

.btn-gradient {
  background: linear-gradient(90deg, #9c33ff, #bd85ff);
  color: var(--bg-dark);
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(189, 133, 255, 0.4);
}

.btn-outline-dark {
  color: white;
  padding: 0.75rem 1.5rem;
  font-weight: 600;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border: none;
}

.play-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* FAQ Section */
.faq-section {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}

.accordion-item {
  background-color: transparent;
  border: none;
  margin-bottom: 80px;
  overflow: hidden;
}

.accordion-button {
  background-color: var(--accordion-bg);
  color: #ffffff;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
  padding: 1.5rem;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.accordion-button:focus {
  border-color: transparent;
  box-shadow: none;
  outline: 0;
}

.accordion-body {
  background-color: #160f38;
  color: #ffffff;
  padding: 1.5rem;
}
.accordion-item:first-of-type > .accordion-header .accordion-button {
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion-item:nth-child(2) > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-item:nth-child(3) > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-item:last-of-type > .accordion-header .accordion-button.collapsed {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M24 10h-10v-10h-4v10h-10v4h10v10h4v-10h10z'/%3E%3C/svg%3E"); /* White plus icon */
  transform: scale(0.6);
  height: 24px;
  transition: transform 0.3s ease;
}

.faq-tag {
  font-size: 0.9rem;
  color: #ffffff;
  letter-spacing: 0.15em;
}
.faq-title {
  font-size: clamp(2rem, 5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.2;
  color: #ffffff;
}
/* Robo Section */

.ai-image-panel {
  height: 930px;
  max-width: 595px;
}

.display-text {
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 80px;
}
/* Footer Section */
.footer-section {
  padding: 6rem 0 2rem;
  position: relative;
  background: linear-gradient(90deg, #250a53, #cfcfcf);
}

.footer-section h5 {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.text-muted {
  color: #ffffff !important;
}
.text-muted img {
  margin-right: 5px;
}

.footer-section p,
.footer-section a,
.footer-section li {
  font-size: 0.95rem;
  text-decoration: none;
}

.footer-section a:hover {
  color: rgb(141, 94, 141);
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 0.8rem;
}
.contact-info .d-flex {
  align-items: flex-start;
  margin-bottom: 1rem;
}
.contact-info .icon {
  color: white;
  font-size: 1.1rem;
  margin-right: 0.8rem;
  line-height: 1.6;
}
.newsletter-panel {
  padding: 10px;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-form {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.footer-form > input {
  outline: none;
  padding: 12px 14px;
  border: 2px solid #ffffff;
  background-color: transparent;
  border-radius: 50px;
  color: #ffffff;
  width: 293px;
}
.footer-form > button > img {
  border-radius: 50%;
  padding: -1px 0px;
}
button > img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}
button {
  background-color: transparent;
  outline: none;
  border: none;
}

.form-check-input {
  border-color: #ffffff;
  width: 1.1em;
  height: 1.1em;
  margin-top: 0.25em;
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-purple);
  border-color: var(--primary-purple);
}

.form-check-label {
  color: white;
  font-size: 0.85rem;
  cursor: pointer;
}

.footer-divider {
  border: 1px solid white;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.scroll-to-top:hover {
  background-color: var(--secondary-purple);
  transform: translateY(-5px);
}

.message-box {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  padding: 10px 20px;
  border-radius: 0.5rem;
  color: white;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.message-box.show {
  opacity: 1;
}
@media screen and (max-width: 1024px) {
  .custom-navbar-rounded {
    margin: 5px;
    background: none;
    backdrop-filter: none;
    border-radius: 0;
    border: none;
  }
}
@media screen and (max-width: 992px) {
  .offcanvas {
    flex-direction: column !important;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
  }
  .navbar-nav,
  .nav-item {
    margin: 0 !important;
  }

  .navbar-nav,
  .navbtn {
    text-align: center;
  }
  .nav-item {
    margin-bottom: 15px !important;
  }
  /* Robo Section */
  .display-text {
    font-size: 5.5rem;
  }
}
@media screen and (max-width: 768px) {
  /* FAQ Section */
  .accordion-button {
    padding: 1.25rem;
    font-size: 1rem;
  }
  .faq-container {
    padding: 2rem 1rem;
  }
  /* Working Section */
  .work-title {
    font-size: 2.5rem;
  }
  .arrow-button {
    width: 100px;
    height: 35px;
  }
}
@media screen and (max-width: 576px) {
  /* Robo Section */
  .ai-image-panel {
    display: none;
  }
  .display-text {
    font-size: 2.5rem;
  }
  .arrow-button {
    width: 130px;
  }
}
@media screen and (max-width: 425px) {
  /* Working Section */
  .work-title {
    font-size: 16px;
    font-weight: 700;
  }
}
